{% load static %}
<!DOCTYPE html>

<html>
	<head>
    <title>My Collections</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/las/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/las/css/main.css' %}" />

		<script src="{% static '/las/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/las/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    
    <script type='text/javascript'>
    </script>
    
    <style>
    </style>
    
	</head>
	
  <body>
    
    <div class="navigator">
      <a href="{% url 'index' %}">LAS</a>
      <a href="{% url 'category' %}">Category</a>
      <a href="{% url 'myCollections' %}" class="active">My Collections</a>
    </div>
    
    <h1>This is Category View</h1>
    
    <script>
    </script>
    
	</body>
</html>