{% load static %}
<!DOCTYPE html>

<html>
	<head>
    <title>My Collections</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.css' %}" />
		<link type ="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">

		<script src="{% static '/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    
    <script type='text/javascript'>
    </script>
    
    <style>
    </style>
    
	</head>
	
  <body>
    
    <div class="navigator">
      <a href="{% url 'login' %}">Sign Up / Login</a>
      <a href="{% url 'myCollections' %}">My Collections</a>
      <a href="{% url 'category' %}">Category</a>
      <a href="{% url 'guide' %}">User Guide</a>
      <div id="logo">
        <a href="{% url 'index' %}" class ="active" id="logo">LAS</a>
      </div>
    </div>
    
    <h1>This is My Collections View</h1>
    
    <script>
    </script>
    
	</body>
</html>