{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link type ="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="{% static '/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/vendor/jquery-ui/jquery-ui.min.js' %}"></script>

    <style type="text/css">
    </style>
  </head>

  <body>
    <div class="navigator">
      <a href="{% url 'login' %}">Sign Up / Login</a>
      <a href="{% url 'myCollections' %}">My Collections</a>
      <a href="{% url 'category' %}">Category</a>
      <a href="{% url 'guide' %}">User Guide</a>
      <div id="logo">
        <a href="{% url 'index' %}" id="logo">LAS</a>
      </div>
    </div>
    
    <br>
    <div class="main">
      <input type="text" placeholder="Search...">
      <button type="submit" onclick="location.href='search/'"><i class="fa fa-search"></i>Search</button>
    </div>
    
    <style>
      .main {
        text-align:center;
      }
      
      .main input[type='text'] {
        width:500px;
      }
    </style>

  </body>
</html>