{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title>Final</title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/las/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/las/css/main.css' %}" />

		<script src="{% static '/las/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/las/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <meta name="viewport" content="width=device-width, user-scalable=no" />
    
    <script type='text/javascript'>
    </script>
    
    <style>
    </style>
    
	</head>
	<body>
    <h1>Final Setup</h1>
    <script>
    </script>    
	</body>
</html>